IRIS.csv filter=lfs diff=lfs merge=lfs -text
heart.csv filter=lfs diff=lfs merge=lfs -text
diabetes.csv filter=lfs diff=lfs merge=lfs -text
marketing_campaign.csv filter=lfs diff=lfs merge=lfs -text
weatherAUS.csv  filter=lfs diff=lfs merge=lfs -text
voice.csv filter=lfs diff=lfs merge=lfs -text
Reviews.csv filter=lfs diff=lfs merge=lfs -text
'IMDB Dataset.csv' filter=lfs diff=lfs merge=lfs -text
bankmarketing.csv filter=lfs diff=lfs merge=lfs -text
